.Sidebar {
  flex: 1;
  min-height: 100vh;
  border-right: 0.5px solid rgb(230, 227, 227);
  padding: 3rem;
  background-image: linear-gradient(
    to bottom,
    var(--main-color),
    var(--second-color)
  );
  display: flex;
  flex-direction: column;
  color: white;
  position: sticky;
  top: 0;
  align-self: flex-start;
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    margin-bottom: 2rem;
    .logo {
      height: 100%;
      // font-weight: bold;
      font-size: 2rem;
      // color: var(--main-color);
      transition: all ease 0.3s;

      &:hover {
        animation: logo-animation 2s ease forwards;
      }
      @keyframes logo-animation {
        0% {
          transform: scale(1);
        }
        25% {
          transform: scale(1.1);
        }
        50% {
          transform: scale(1.1) rotate(-180deg);
        }
        75% {
          transform: scale(1.1) rotate(-360deg);
        }
        100% {
          transform: scale(1) rotate(-360deg);
        }
      }
      .imgee {
        width: 100%;
        height: 105%;
        object-fit: cover;
      }
    }
  }
  hr {
    border: 0.5px solid rgb(230, 227, 227);
  }
  .center {
    padding-left: 1rem;
    margin-top: 2rem;
    color: white;

    .title {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      font-size: var(--font);
      font-weight: bold;
      color: white;
    }
    li {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      transition: back 0.1s;
      color: white;
      margin-bottom: 0.8rem;
      cursor: pointer;
      &:hover {
        background-color: rgb(185, 177, 177);
        border-radius: 0.5rem;
      }
      &:active {
        background-color: rgba(185, 177, 177, 0.493);
      }

      .icon {
        font-size: 2.3rem;
        color: white;
      }
      span {
        font-size: var(--font);
        font-weight: 600;
        color: white;
        margin-left: 1.3rem;
      }
    }
  }
  .bottomTitle {
    margin-top: 1.5rem;
    padding-left: 1rem;
    font-size: var(--font);
    font-weight: bold;
    color: #999;
  }
  .bottom {
    display: flex;
    align-items: center;
    margin: 1rem;
    .optioncolor {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 0.5rem;
      border: 1px solid var(--main-color);
      margin-left: 1rem;
      transition: all 0.2s;
      cursor: pointer;
      &:active {
        transform: scale(0.8);
      }
      &:nth-child(1) {
        background-color: rgb(201, 197, 197);
      }
      &:nth-child(2) {
        background-color: rgb(1, 1, 43);
      }
    }
  }
}
