.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 1rem .5rem ;
        // border-radius: 10rem;
        border-radius: .5rem;
        transition: all .2s;
        position: relative;
        font-size:1.5rem;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(black,.2);
    }
    
    &--add {
        background-image:linear-gradient(to bottom,teal ,rgba(6, 150, 150, 0.562));;        color: white;

        &::after {
            background-image:linear-gradient(to bottom,teal ,rgba(6, 150, 150, 0.562));;        }
    }
    &--check {
        background-image:linear-gradient(to bottom,teal ,rgba(6, 150, 150, 0.562));;
        color: white;
        width: 100%;
      cursor: pointer;
        &::after {

            background-image:linear-gradient(to bottom,teal ,rgba(6, 150, 150, 0.562));;        }
    }

   
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: .5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
   
}



    
